{% extends 'base.html' %}

{% block content %}
<div class="article__header">
    <h1>Creating a Dynamic Website for the Café</h1>
    <h2>Scenario</h2>
    <div class="scenario">
        <p>After the café launched the first version of their website, customers told the café staff how nice the website looked. However, in addition to the praise, customers often asked whether they could place online orders. Sofía, Nikhil, Frank, and Martha discussed the situation. They agreed that their business strategy and decisions should focus on delighting their customers and providing them with the best possible café experience.</p>
        <div class="skills">
            <h3>Skills</h3>
            <ul>
                <li>Connect to the AWS Cloud9 IDE on an existing EC2 instance</li>
                <li>Analyze the EC2 instance environment and confirm web server accessibility</li>
                <li>Install a web application on an EC2 instance that also uses AWS Systems Manager Parameter Store</li>
                <li>Test the web application</li>
                <li>Create an AMI</li>
                <li>Deploy a second copy of the web application to another AWS Region</li>
            </ul>
        </div>
    </div>
    <div class="illustration">
        <div>
            <h6>the final architecture should look like the following example</h6>
            <img src="{{ url_for('static', filename='img/dynamic-website/m4ch-lab-end-arch.png') }}" alt="">
        </div>
    </div>
</div>

<div class="article__body">

    <div class="challenge">
        <h2>Preparing an EC2 instance to host a website</h2>
        <p>The café wants to introduce online ordering for customers and enable café staff to view submitted orders. Their current website architecture, where the website is hosted on Amazon S3, does not support the new business requirements. So, to fulfil this task we'll configure an Amazon EC2 instance so that it is ready to host a website for the café</p>
        <div class="illustration">
            <div class="note">
                <p>Note: In the first part of this lab, it will be configured an Amazon EC2 instance so that it is ready to host a website for the café. For a while, we've already had some resources created at the start of the AWS lab.</p>
            </div>
            <img src="{{ url_for('static', filename='img/dynamic-website/m4ch-lab-start-arch.png') }}" alt="">
        </div>
        <hr>

        <div class="task">
            <h3>Connecting to the IDE on the EC2 instance</h3>
            
            <p>By using the AWS Cloud9 environment, there's no need to download a key pair and connect to the EC2 instance by using SSH. In other words, It provides an integrated development environment (IDE) that includes features such as a code editor, debugger, and terminal.</p>
            <div class="illustration">
                <img src="{{ url_for('static', filename='img/dynamic-website/cloud9.png') }}" alt="">
            </div>
            
            <li> After running these commands, we can observe the web server, database, and PHP details and server state.</li>
            <div class="code__block">
                <pre>
                    <code>
sudo yum update -y 
sudo yum install -y mariadb-server
sudo systemctl enable mariadb

sudo httpd -v
service httpd status

mariadb --version
service mariadb status

php --version
                    </code>
                </pre>
            </div>
    
            <div class="illustration">
                <img src="{{ url_for('static', filename='img/dynamic-website/cloud9-stopped.png') }}" alt="">
            </div>
            <div class="note">
                <p>Note: The output should show the versions of the web server and the database, and also show that they are not currently running</p>
            </div>
    
            <li>Starting the web server and the database, we'll use these command on terminal</li>
            
            <div class="code__block">
                <pre>
                    <code>
sudo chkconfig httpd on
sudo service httpd start
sudo service httpd status

sudo chkconfig mariadb on
sudo service mariadb start
sudo service mariadb status
                    </code>
                </pre>
            </div>
    
            <div class="illustration">
                <img src="{{ url_for('static', filename='img/dynamic-website/cloud9-running.png') }}" alt="">
            </div>
    
            <li>Configuring the EC2 instance so that we can use the AWS Cloud9 editor to edit web server files.</li>
            <div class="code__block">
                <pre>
                    <code>
ln -s /var/www/ /home/ec2-user/environment
sudo chown ec2-user:ec2-user /var/www/html
                    </code>
                </pre>
            </div>
        </div>

    </div>

    <div class="challenge">
        <h2>Installing a dynamic website application on the EC2 instance</h2>    
        <hr>
        
        <div class="task">

            <h3>Installing the café application</h3>
    
            <p>We have the basic setup for hosting a dynamic website for the café by installing the café application and database on the EC2 instance. So thenm we have to install the café application, which creates the <b>cafe</b>, <b>db</b>, and <b>setup directories</b> in the work environment.</p>
            
            <div class="code__block">
                <pre>
                    <code>
cd ~/environment
wget https://aws-tc-largeobjects.s3.us-west-2.amazonaws.com/CUR-TF-100-PRYODA-1-37918/21-mod4-challenge-EC2/s3/mod4-challenge/setup.tar.gz
tar -zxvf setup.tar.gz
wget https://aws-tc-largeobjects.s3.us-west-2.amazonaws.com/CUR-TF-100-PRYODA-1-37918/21-mod4-challenge-EC2/s3/mod4-challenge/db.tar.gz
tar -zxvf db.tar.gz
wget https://aws-tc-largeobjects.s3.us-west-2.amazonaws.com/CUR-TF-100-PRYODA-1-37918/21-mod4-challenge-EC2/s3/mod4-challenge/cafe.tar.gz
tar -zxvf cafe.tar.gz
                    </code>
                </pre>
                <div class="note">
                    <p>Note: we can put "sudo" before the command in case some denied access error appears. In any case, these files will be present in the lab directory as well</p>
                </div>
            </div>

    
            <li>Copying the café files over to the web server document root</li>
            
            <div class="code__block">
                <pre>
                    <code>
mv cafe /var/www/html/
                    </code>
                </pre>
            </div>
            
            <li>Configuring the application parameters to use the AWS Systems Manager Parameter Store</li>
            <div class="code__block">
                <pre>
                    <code>
cd setup
./set-app-parameters.sh
                    </code>
                </pre>
            </div>
    
            <li>Configuring the MySQL database to support the café application</li>
            
            <div class="code__block">
                <pre>
                    <code>
cd ../db/
./set-root-password.sh
./create-db.sh
                    </code>
                </pre>
            </div>    
            
            <li>to connect the terminal-based MySQL client to the database and accessing it.</li>
            
            <div class="code__block">
                <pre>
                    <code>
mysql -u root -p
                    </code>
                </pre>
            </div>    
            
            <div class="warning">
                <div class="warning__box">

                    <div class="message">
                        <i class="fa-solid fa-triangle-exclamation"></i>
                        <p>During the lab, we received this this error, <b>ERROR 1698 (28000): Access denied for user 'root'@'localhost'</b> after placing the password, it because of some obsolete commands, but in any case, by running these following command, it was be able to solve this issue. </p>
                    </div>
                    <div class="code__block">
                        <pre>
                            <code>
sudo mysql -u root -p
                            </code>
                        </pre>
                        <pre>
                            <code>
ALTER USER 'root'@'localhost' IDENTIFIED BY 'password_here';
FLUSH PRIVILEGES;
                            </code>
                        </pre>
                    </div>
                </div>

            </div>
    
            <li>After accessing database. it was necessary to run these commands ro create a database and insert data on it.</li>

            <div class="code__block">
                <pre>
                    <code>
show databases;
use cafe_db;
show tables;
select * from product;
exit;
                    </code>
                </pre>
            </div>    

            <li>Update the timezone configuration in PHP.</li>
            
            <div class="code__block">
                <pre>
                    <code>
sudo sed -i "2i date.timezone = \"America/New_York\" " /etc/php.ini
sudo service httpd restart
                    </code>
                </pre>
            </div>
        </div>

        <div class="task">
            <h3>Testing the web application</h3>
            <p>We can open the web application in the browser  by using <b>http://[public-ip]/</b> and Submit an order to test the café application</p>
            
            <div class="code__block">
                <pre>
                    <code>
http://[public-ip]/cafe
                    </code>
                </pre>
            </div>
    
            <div class="illustration">
                <img src="{{ url_for('static', filename='img/dynamic-website/app.png') }}" alt="">
                <img src="{{ url_for('static', filename='img/dynamic-website/app_order.png') }}" alt="">
            </div>
        </div>
    
    </div>


</div>
{% endblock %}