{% extends 'base.html' %}

{% block content %}
<div class="article__header">
    <h1>Creating a Dynamic Website for the Café</h1>
    <h2>Scenario</h2>
    <div class="scenario">
        <p>After the café launched the first version of their website, customers told the café staff how nice the website looked. However, in addition to the praise, customers often asked whether they could place online orders.</p>
        <p>Sofía, Nikhil, Frank, and Martha discussed the situation. They agreed that their business strategy and decisions should focus on delighting their customers and providing them with the best possible café experience.</p>
    </div>
    <div class="illustration">
        <h6>At the end of this lab, the architecture should look like the following example</h6>
        <img src="/assets/dynamic-website/m4ch-lab-end-arch.png" alt="">
    </div>
</div>

<div class="article__body">

    <div class="challenge">
        <h2>Preparing an EC2 instance to host a website</h2>
        <p>The café wants to introduce online ordering for customers and enable café staff to view submitted orders. Their current website architecture, where the website is hosted on Amazon S3, does not support the new business requirements.</p>
        <div class="illustration">
            <div class="note">
                <p>Note: In the first part of this lab, it will be configured an Amazon EC2 instance so that it is ready to host a website for the café. For a while, we've already had some resources created at the start of the AWS lab.</p>
            </div>
            <img src="/assets/dynamic-website/m4ch-lab-start-arch.png" alt="">
        </div>
    </div>

    <div class="task">
        <h3>Connecting to the IDE on the EC2 instance</h3>
        
        <p>By using the AWS Cloud9 environment, there's no need to download a key pair and connect to the EC2 instance by using SSH.</p>
        <div class="illustration">
            <img src="/assets/dynamic-website/cloud9.png" alt="">
        </div>
        <p> After running these commands, we can observe the web server, database, and PHP details and server state.</p>

        <pre>
            <code>
sudo yum update -y 
sudo yum install -y mariadb-server
sudo systemctl enable mariadb

sudo httpd -v
service httpd status

mariadb --version
service mariadb status

php --version
            </code>
        </pre>

        <div class="illustration">
            <img src="/assets/dynamic-website/cloud9-stopped.png" alt="">
        </div>
        <div class="note">
            <p>Note: The output should show the versions of the web server and the database, and also show that they are not currently running</p>
        </div>

        <p>So, to start the web server and the database, we'll use these command on terminal</p>
        <pre>
            <code>
sudo chkconfig httpd on
sudo service httpd start
sudo service httpd status

sudo chkconfig mariadb on
sudo service mariadb start
sudo service mariadb status
            </code>
        </pre>

        <div class="illustration">
            <img src="/assets/dynamic-website/cloud9-running.png" alt="">
        </div>

        <p>Configure the EC2 instance so that we can use the AWS Cloud9 editor to edit web server files.</p>
        <pre>
            <code>
ln -s /var/www/ /home/ec2-user/environment
sudo chown ec2-user:ec2-user /var/www/html
            </code>
        </pre>
    </div>

    <div class="task">

        <h3>Installing a dynamic website application on the EC2 instance</h3>

        <p>We have the basic setup for hosting a dynamic website for the café by installing the café application and database on the EC2 instance.</p>
        <p>Installing the café application, which creates the cafe, db, and setup directories in the work environment.</p>
        
        <pre>
            <code>
cd ~/environment
wget https://aws-tc-largeobjects.s3.us-west-2.amazonaws.com/CUR-TF-100-PRYODA-1-37918/21-mod4-challenge-EC2/s3/mod4-challenge/setup.tar.gz
tar -zxvf setup.tar.gz
wget https://aws-tc-largeobjects.s3.us-west-2.amazonaws.com/CUR-TF-100-PRYODA-1-37918/21-mod4-challenge-EC2/s3/mod4-challenge/db.tar.gz
tar -zxvf db.tar.gz
wget https://aws-tc-largeobjects.s3.us-west-2.amazonaws.com/CUR-TF-100-PRYODA-1-37918/21-mod4-challenge-EC2/s3/mod4-challenge/cafe.tar.gz
tar -zxvf cafe.tar.gz
            </code>
        </pre>
        <div class="note">
            <p>Note: we can put "sudo" before the command in case some denied access error appears. In any case, these files will be present in the lab directory as well</p>
        </div>

        <p>Copy the café files over to the web server document root</p>
        <pre>
            <code>
mv cafe /var/www/html/
            </code>
        </pre>
        
        <p>Configure the application parameters to use the AWS Systems Manager Parameter Store</p>
        <pre>
            <code>
cd setup
./set-app-parameters.sh
            </code>
        </pre>

        <p>Configure the MySQL database to support the café application</p>
        <pre>
            <code>
cd ../db/
./set-root-password.sh
./create-db.sh
            </code>
        </pre>

        <p>to connect the terminal-based MySQL client to the database and accessing it.</p>
        <pre>
            <code>
mysql -u root -p
            </code>
        </pre>

        <div class="warning">
            <div>
                <i class="fa-solid fa-triangle-exclamation"></i>
                <p>In case of 'ERROR 1698 (28000): Access denied for user 'root'@'localhost'' after placing the password</p>
            </div>
            <pre>
                <code>
sudo mysql -u root -p
                </code>
            </pre>
            <pre>
                <code>
ALTER USER 'root'@'localhost' IDENTIFIED BY 'password_here';
FLUSH PRIVILEGES;
                </code>
            </pre>
        </div>

        <p>After accessing database</p>
        <pre>
            <code>
show databases;
use cafe_db;
show tables;
select * from product;
exit;
            </code>
        </pre>

        <p>Update the timezone configuration in PHP.</p>
        
        <pre>
            <code>
sudo sed -i "2i date.timezone = \"America/New_York\" " /etc/php.ini
sudo service httpd restart
            </code>
        </pre>
    </div>

    <div class="task">
        <h3>Testing the web application</h3>

        <pre>
            <code>
http://[public-ip]/cafe
            </code>
        </pre>

        <div class="double-illustration">
            <img src="/assets/dynamic-website/app.png" alt="">
            <img src="/assets/dynamic-website/app_order.png" alt="">
        </div>
    </div>


</div>
{% endblock %}